---
const today = new Date();
---

<footer>
<p>
  <a href="https://github.com/mohmed98" target="_blank" rel="noopener noreferrer">GitHub</a> | 
  <a href="mailto:mohamedatta447@gmail.com">Email</a> | 
  <a href="https://bsky.app/profile/atta98.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a> |
  <a href="https://www.linkedin.com/in/mo-atta/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
